# Ignore compiled binaries and simulation executables
*.vvp
*.out
*.o

# Ignore waveform dumps (can be very large)
*.vcd
*.wave
*.wlf
*.fsdb

# Ignore log files
*.log
*.jou

# Tool-specific directories (e.g., Vivado/Quartus/ModelSim)
work/
xsim.dir/
usage_statistics_webtalk.xml
*.db
incremental_db/

*.log
*.jou
.Xil/
# Vivado Project-specific directories
DIP_ASIC.sim/
DIP_ASIC.hw/
DIP_ASIC.cache/
DIP_ASIC.runs/

# MATLAB temporary files
*.asv
*.slxc
*.mex*
DerivedData/

# Synthesis and Implementation outputs
*.str
*.backup
.cache/

DIP_ASIC.ip_user_files/

# --- Specific Block Design Cleanup ---
# This keeps the .bd file but ignores the generated folders inside 'bd'
optimized_arch/optimized_arch.srcs/sources_1/bd/*/ip/
optimized_arch/optimized_arch.srcs/sources_1/bd/*/hw_handoff/
optimized_arch/optimized_arch.srcs/sources_1/bd/*/ipshared/
optimized_arch/optimized_arch.srcs/sources_1/bd/*/hdl/
optimized_arch/optimized_arch.srcs/sources_1/bd/*/synth/
optimized_arch/optimized_arch.srcs/sources_1/bd/*/sim/
optimized_arch/optimized_arch.srcs/sources_1/bd/*/ui/

# --- General Vivado Junk ---
*.runs/
*.data/
*.gen/
*.sim/
*.hw/
*.cache/
*.ip_user_files/
.Xil/

# --- Simulation & Logs ---
*.log
*.jou
*.wdb
xsim.dir/
